.login-register {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

.hidden {
  display: none !important;
}
/* Добавляем стили для показа имени пользователя */
.message-item .user-id {
  font-weight: bold;
}

.chat-container {
    width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
}
.messages {
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.input-area {
    display: flex;
    margin-top: 10px;
}
#messageInput {
    flex-grow: 1;
    padding: 8px;
}
#sendButton {
    padding: 8px 15px;
}
.message-item {
    margin-bottom: 5px;
}
.user-select {
  display: flex;
  align-items: center;
    margin-bottom: 10px;
}
.user-select select {
    margin-left: 10px;
    padding: 8px;
}